<td>{{ user.pnr}}</td> <!-- (13) td sono i dati dentro la tabella, quindi inserisco il singolo elemento dell'array users, ovvero user.name -->
    <td>{{ user.service}}</td>
    <td>{{ user.lastname}}</td>
    <td>{{ user.name}}</td>
    <td>{{ user.from}}</td>
    <td>{{ user.to}}</td>
    <td>{{ user.date}}</td>
    <td>{{ user.rate | currency :'EUR':'symbol':'2.2-4': 'it-IT'}}</td>
    <td> <!-- (26) aggiungo un altro td che è Delete ed aggiungo il bottone e nel .css aggiungo lo stile button.delete dove delete è la classe, quindi qui devo aggiungere la classe "delete" (108) inserisco una PIPE per la currency (cercare su angular.io API list e poi PIPES) {{ value_expression | currency [ : currencyCode [ : display [ : digitsInfo [ : locale ] ] ] ] }} -->
        <button class="update" (click)="updateUser()"> MODIFICA </button> <!--(60) aggiungo il bottone per modifica utente; (62) inserisco il nuovo metodo updateUser -->
        <button class="delete" (click)="deleteUser()"> CANCELLARE </button> <!-- (26) all'evento che chiamo click viene richiamato il metodo deleteUser che ho definito in user.component.ts e viene scritto il cognome-->
    </td>
    <!-- (22) per creare una dipendenza fra componente padre (users) e componente figlio (user) prendo tutta la struttura (sopra) della tabella che avevto creato nel users.component.html e la sposto in user.component.html -->