/* You can add global styles to this file, and also import other style files */
/* (49) inserisco lo stile che riguarda tutta l'app */
/* (115) posso rimuovere tutti gli stili, perché adesso uso BOOTSTRAP
.main {
    width: 98%;
    margin: auto;
    vertical-align: top;
}

.users {
    float: left;
    width: 35%;
    border: 1px solid black;
}

.userDetail {
    border: 1px solid blue;
    float: left;
    width: 65%;
}

.button-save { /* (56) inserisco lo stile per il bottone SAVE (
    padding: 5px;
    border: 2px solid white;
    background: white;
    color: rgb(46, 122, 236);
    width: 110px;
    font-weight: bold;
}

.button-create { /* inserisco lo stile per il bottone NEW USER (
    padding: 5px;
    border: 2px solid rgb(46, 122, 236);
    background: blue;
    color: white;
    width: 110px;
    font-weight: bold;
}
.form-footer { /* (57) posizione dove sta il bottone SAVE 
text-align: center;
padding: 10px;
}

.form-group {
    padding: 10px;
    border: 1px solid blue;
    margin-bottom: 10px;
}

.form-group label{
    display: inline-block;
    text-align: left;
    padding: 5px;
    width: 120px;
}

.form-group input{
    border: 1px solid green;
    text-align: left;
    padding: 5px;
    width: 150px;
}

*/