<!-- (75) tolgo il json per evitare che si vedano i dati dell'utente sopra la tabella modifica {{ user |json }} (73) mostriamo la variabile user-->
<form class="userForm" #f ="ngForm"> <!-- (53) creo il form e creo un div per ogni elemento (71) inserisco una classe userForm per poi definire uno stile nel .css per dare una forma al pannello di modifica degli utenti (98) accedo con una template variabile che chiamo f con # al form con direttiva ngForm; per accedere ai valori del form uso f.form.value ad esempio scrivo {{f.form.value | json}}, oppure f.form.reset per resettare i valori del form-->
<input type="hidden" [(ngModel)]="user.id" name="id" > <!-- (81) inserisco un campo nascosto con id dell'utente nella tabella modifica-->
<div class="form-group"> <!-- (54) inserisco la classe form-group per essere pronti quando inseriremo Bootstrap-->
<label for="PNR">PNR </label> 
<input [(ngModel)]="user.pnr" class="form-control" placeholder="PNR" name="PNR" id="PNR"> <!-- (74) combino (binding) le proprietà dello user con i campi della tabella attraverso la direttiva ngModel sia in input (parentesi quadre) che in output (parentesi tonde) cioè ricevo un nuovo valore modificato e lo vado ad aggiornare 
(118) aggiungo la classe "form-control" per ogni input -->
</div>

<div class="form-group">
<label for="service">Servizio </label>
<input [(ngModel)]="user.service" class="form-control" placeholder="Servizio" name="service" id="service">
</div>

<div class="form-group">
<label for="cognome">Cognome</label>
<input [(ngModel)]="user.lastname" class="form-control" placeholder="Cognome" name="cognome" id="cognome">
</div>

<div class="form-group">
<label for="nome">Nome</label>
<input [(ngModel)]="user.name" class="form-control" placeholder="Nome" name="nome" id="gnome">
</div>

<div class="form-group">
<label for="da">Da</label>
<input [(ngModel)]="user.from" class="form-control" placeholder="Da" name="da" id="da">
</div>

<div class="form-group">
<label for="a">A </label>
<input [(ngModel)]="user.to" class="form-control" placeholder="A" name="a" id="a">
</div>

<div class="form-group">
<label for="data">Data </label>
<input [(ngModel)]="user.date" class="form-control" placeholder="Data" name="data" id="data">
</div>

<div class="form-group">
    <label for="rate">Tariffa </label>
    <input [(ngModel)]="user.rate" class="form-control" placeholder="Tariffa" name="rate" id="rate">
    </div>

<div class="form-group form-footer">
<button class="btn btn-secondary" (click)="resetTable(f.form)"> RESET </button> <!-- (97) inserisco pulsante per il reset (99) fra parentesi del metodo resetTable ci aggiungo f.form per poter accedere al form della tabella
(118) aggiungo la classe "btn btn-secondary" -->
<button class="btn btn-success" (click)="saveUser()"> SAVE </button> <!-- (55) bottone per salvare i dati; (78) metto un evento click chiamando il metodo saveUser che inserisco in user-detail.component.ts
(118) aggiungo la classe "btn btn-success" -->
</div>

</form>
