    <!-- (7) creo qui la tabella che viene richiamata da users.component.ts-->
    <!-- istruzioni su https://www.w3schools.com/tags/tag_caption.asp -->
    <!-- (111) con il comando da terminale ng pipe ucfirst posso creare un file di pipe (nome a caso, ad es. ucfirst) per fare una custom pipe; altrimenti aggiungo qui o in app.module.ts:
        import { Pipe, PipeTransform} from '@angular/core';
        @Pipe({
            name: 'ucfirst'
        })
    export class ucFirstPipe implements PipeTransform {
        transform (value:string): any {
            return value.split(' ')
            .map (word:string) => " " + word.substr(0,1) //con .map divido la frase in array di parole
            .toLocaleUpperCase() + '' + word.substr(1)) //con .substr indico che alla posizione 0 per 1 carattere e lo trasformo in uppercase e poi aggiungo tutto il resto della parola con (1) 
            .join('');
        }
    }
    <caption {{ titleList | ucfirst}}
    -->
    
    {{title | uppercase | titlecase}}  
   
            <!-- {{ titleList | ucfirst}} {{title | uppercase | titlecase}} -->
           <!-- caption è il titolo e va messo subito dopo l'intestazione <table>; (10) fra doppie graffe {{ }} inserisco la variable o proprietà della classe UserComponent; (107) inserisco la PIPE con uppercase per tutto maiuscolo e titlecase per le prime lettere maiuscole-->

        <table class="table table-striped"> <!-- (116) inserisco anche qui la classe BOOTSTRAP con table-striped che vuol dire colori alternati, e sm che vuol dire small 
        <caption style = "font-weight:bold;color:red; text-align:center"> -->
<thead> <!-- (116) vedere anche istruzioni e esempi BOOTSTRAP in https://getbootstrap.com/docs/4.5/content/tables/ -->
    <tr> <!-- The <tr> tag defines a row in an HTML table;a <tr> element contains one or more <th> or <td> elements. -->
    <th> PNR </th>
    <th> Servizio </th>
    <th> Cognome </th> <!-- th è l'header di una tabella. An HTML table has two kinds of cells: a) Header cells - contains header information created with the <th> element; b) Data cells - contains data created with the <td> element (VEDI https://www.w3schools.com/tags/tag_th.asp)-->
    <th> Nome </th>
    <th> Da </th>
    <th> A </th>
    <th> Data </th>
    <th> Tariffa </th>
    <th> Azioni </th> <!-- (25) aggiungo un altro th che è Actions-->
    </tr>
</thead>
 <!-- (11) {{users | json}} pipe è la | e vuol dire prendi quello che c'è a sinistra e passalo come parametro a quello che c'è a destra, ovvero json cioè gli elementi dell'array; una direttiva è un costrutto che fa fare qualcosa nel template, ad esempio 'ngfor' è una direttiva
SEZIONE 22 - *ngFor
-->
 <tbody>
<tr app-user="user" *ngFor = "let user of users" [user-data] = "user"
(onDeleteUser) = "onDeleteUser ($event)"
(onSelectUser) = "onSelectUser ($event)"> 
</tr>
 <!--  (64) aggiunto l'ASCOLTO dell'evento onSelectUser-->
<!-- (36) qui ASCOLTO evento fra tonde perché è in uscita il valore (onDeleteuser) che è l'alias definito in user.component.ts l'accadere dell'evento e quando accade questo evento il padre  chiamerà il metodo onDeleteUser nella classe users e riceverà il valore $event. Ora occorre creare il metodo nel componente users.component.ts

    (12) aggiungo la direttiva ngfor e definisco 'user' come il singolo elemento dell'array 'users', così per ogni utente dell'array users cicla il singolo user. In TS o JS sarebbe for (let user of users) (23) sposto <app-user></app-user> da app.component.html qua e richiamo l'alias 'user-data' che ho definito in user.component.ts Il nome della variabile user-data (alias) è in input e assegno valore = "user"-->
    
</tbody>
</table>