/* (116) rimuovo tutto il .css perché lo gestisco con BOOTSTRAP
table {
    widows: 50%;
    border:2px solid rgb(3, 3, 17); 
}

th {
    background: rgb(47, 17, 212);
    color: white;
    padding: 5px;
}
td {
    background: rgb(46, 122, 236);
    color: white;
    padding: 5px;
}
*/